body * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
}



.favorite-underline {
    background-image: url("Vector 5.svg");
    background-repeat: no-repeat;

    background-position: bottom;
    padding-bottom: 10px;
}

.services-elements h3 {
    font-size: 3rem;
}